body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  text-align: center;
  background-color: #FD005B;
  color: #FFFFFF;
  padding-top: 20px;
  padding-bottom: 20px;
}

h2, h3 {
  text-align: center;
}

.control-container {
  text-align: center;
}
.control-container button {
  text-align: center;
  background-color: #7311BC;
  color: #fff;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 24px;
  border-radius: 10px;
}

.control-container button:hover {
  background-color: #7F1FAA;
}

.control-container button:disabled {
  background-color: #ADADAD;
}

.tic-tac-toe-table {
  width: 300px;
  height: 300px;
  padding: 5px;
  margin: 0 auto;
}

.tic-tac-toe-table td {
  border-collapse: collapse;
  height: 95px;
  width: 95px;
  cursor: pointer;
  border: 2px solid #CCC;
  text-align: center;
  vertical-align: center;
  font-size: 20px;
  color: #444;
}

.tic-tac-toe-table td:hover {
  background-color: #EFEFEF;
}
